button{
    color: white;
    background-color: black;
    font-size: 20px;
    font-family: cursive;
}

body{
    background-color: rgb(221, 210, 239);
    text-decoration:wavy;
}

.header
{
	color: white;
    font-family: 'Yeon Sung';
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: 80px; 
    margin-bottom: 70px;
    text-decoration: underline;
}